beans/src/main/resources/wsdl/siri_wsProducer-IDF.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSPY v2004 rel. 3 U (http://www.xmlspy.com) by Christophe Duquesne (DRYADE SA) -->
<!-- edited with XMLSpy v2005 rel. 3 U (http://www.altova.com) by Nick js Knowles (Kizoom) -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:siriWS="http://wsdl.siri.org.uk" 
             xmlns:siri="http://www.siri.org.uk/siri" 
             xmlns:ns="http://datex2.eu/schema/1_0/1_0" 
             xmlns:ns1="http://www.ifopt.org.uk/acsb" 
             xmlns:ns2="http://www.ifopt.org.uk/ifopt" 
             targetNamespace="http://wsdl.siri.org.uk">
   <types>
      <xsd:schema xmlns="http://wsdl.siri.org.uk" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:siri="http://www.siri.org.uk/siri"
         targetNamespace="http://wsdl.siri.org.uk" elementFormDefault="unqualified" attributeFormDefault="unqualified" version="1.3" id="siriWS">
         <xsd:import namespace="http://www.siri.org.uk/siri" schemaLocation="siri-IDF.xsd" />

         <!-- ConnectionMonitoring -->
         <xsd:complexType name="ConnectionMonitoringRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:ConnectionMonitoringRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ConnectionMonitoringAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:ConnectionMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetConnectionMonitoring" type="ConnectionMonitoringRequestType" />
         <xsd:element name="GetConnectionMonitoringResponse" type="ConnectionMonitoringAnswerType" />

         <!-- ConnectionTimetable -->
         <xsd:complexType name="ConnectionTimetableRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:ConnectionTimetableRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ConnectionTimetableAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:ConnectionTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetConnectionTimetable" type="ConnectionTimetableRequestType" />
         <xsd:element name="GetConnectionTimetableResponse" type="ConnectionTimetableAnswerType" />

         <!-- EstimatedTimetable -->
         <xsd:complexType name="EstimatedTimetableRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:EstimatedTimetableRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="EstimatedTimetableAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:EstimatedTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetEstimatedTimetable" type="EstimatedTimetableRequestType" />
         <xsd:element name="GetEstimatedTimetableResponse" type="EstimatedTimetableAnswerType" />

         <!-- FacilityMonitoring -->
         <xsd:complexType name="FacilityMonitoringRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:FacilityMonitoringRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="FacilityMonitoringAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:FacilityMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetFacilityMonitoring" type="FacilityMonitoringRequestType" />
         <xsd:element name="GetFacilityMonitoringResponse" type="FacilityMonitoringAnswerType" />

         <!-- GeneralMessage -->
         <xsd:complexType name="GeneralMessageRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:GeneralMessageRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="GeneralMessageAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:GeneralMessageDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetGeneralMessage" type="GeneralMessageRequestType" />
         <xsd:element name="GetGeneralMessageResponse" type="GeneralMessageAnswerType" />

         <!-- ProductionTimetable -->
         <xsd:complexType name="ProductionTimetableRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:ProductionTimetableRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="ProductionTimetableAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:ProductionTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetProductionTimetable" type="ProductionTimetableRequestType" />
         <xsd:element name="GetProductionTimetableResponse" type="ProductionTimetableAnswerType" />

         <!-- SituationExchange -->
         <xsd:complexType name="SituationExchangeRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:SituationExchangeRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="SituationExchangeAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:SituationExchangeDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetSituationExchange" type="SituationExchangeRequestType" />
         <xsd:element name="GetSituationExchangeResponse" type="SituationExchangeAnswerType" />

         <!-- StopMonitoring -->
         <xsd:complexType name="StopMonitoringType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:StopMonitoringRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="StopMonitoringMultipleType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:StopMonitoringMultipleRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="StopMonitoringAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:StopMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetStopMonitoring" type="StopMonitoringType" />
         <xsd:element name="GetMultipleStopMonitoring" type="StopMonitoringMultipleType" />
         <xsd:element name="GetStopMonitoringResponse" type="StopMonitoringAnswerType" />

         <!-- StopTimetable -->
         <xsd:complexType name="StopTimetableRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:StopTimetableRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="StopTimetableAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:StopTimetableDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetStopTimetable" type="StopTimetableRequestType" />
         <xsd:element name="GetStopTimetableResponse" type="StopTimetableAnswerType" />

         <!-- VehicleMonitoring -->
         <xsd:complexType name="VehicleMonitoringRequestType">
            <xsd:sequence>
               <xsd:element name="ServiceRequestInfo" type="siri:ContextualisedRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:VehicleMonitoringRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="VehicleMonitoringAnswerType">
            <xsd:sequence>
               <xsd:element name="ServiceDeliveryInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:VehicleMonitoringDeliveriesStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetVehicleMonitoring" type="VehicleMonitoringRequestType" />
         <xsd:element name="GetVehicleMonitoringResponse" type="VehicleMonitoringAnswerType" />

         <!-- Subscription -->
         <xsd:complexType name="SubscriptionRequestType">
            <xsd:sequence>
               <xsd:element name="SubscriptionRequestInfo" type="siri:AbstractSubscriptionRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:SiriSubscriptionRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="SubscriptionAnswerType">
            <xsd:sequence>
               <xsd:element name="SubscriptionAnswerInfo" type="siri:ResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:SubscriptionResponseBodyStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DeleteSubscriptionRequestType">
            <xsd:sequence>
               <xsd:element name="DeleteSubscriptionInfo" type="siri:RequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:TerminateSubscriptionRequestBodyStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DeleteSubscriptionAnswerType">
            <xsd:sequence>
               <xsd:element name="DeleteSubscriptionAnswerInfo" type="siri:ResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:TerminateSubscriptionResponseStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="SubscriptionMessage" type="SubscriptionRequestType" />
         <xsd:element name="SubscriptionResponse" type="SubscriptionAnswerType" />
         <xsd:element name="DeleteSubscription" type="DeleteSubscriptionRequestType" />
         <xsd:element name="DeleteSubscriptionResponse" type="DeleteSubscriptionAnswerType" />

         <!-- CheckStatus -->
         <xsd:complexType name="CheckStatusType">
            <xsd:sequence>
               <xsd:element name="Request" type="siri:RequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="CheckStatusResponseType">
            <xsd:sequence>
               <xsd:element name="CheckStatusAnswerInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:CheckStatusResponseBodyStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="CheckStatus" type="CheckStatusType" />
         <xsd:element name="CheckStatusResponse" type="CheckStatusResponseType" />

         <!-- Capabilities -->
         <xsd:complexType name="GetCapabilitiesRequestType">
            <xsd:sequence>
               <xsd:element name="Request" type="siri:CapabilitiesRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="GetCapabilitiesAnswerType">
            <xsd:sequence>
               <xsd:element name="Answer" type="siri:CapabilitiesResponseStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="GetCapabilities" type="GetCapabilitiesAnswerType" />
         <xsd:element name="GetCapabilitiesResponse" type="GetCapabilitiesAnswerType" />

         <!-- DataSuply -->
         <xsd:complexType name="DataSupplyRequestType">
            <xsd:sequence>
               <xsd:element name="DataSupplyRequestInfo" type="siri:ConsumerRequestEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Request" type="siri:DataSupplyRequestBodyStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="DataSupplyAnswerType">
            <xsd:sequence>
               <xsd:element name="DataSupplyAnswerInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:ServiceDeliveryBodyStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="DataSupply" type="DataSupplyRequestType" />
         <xsd:element name="DataSupplyResponse" type="DataSupplyAnswerType" />

         <!-- Discovery -->
         <xsd:complexType name="StopPointsDiscoveryType">
            <xsd:sequence>
               <xsd:element name="Request" type="siri:StopPointsDiscoveryRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="StopPointsDiscoveryAnswerType">
            <xsd:sequence>
               <xsd:element name="StopPointsDiscoveryAnswerInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:StopPointsDeliveryStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>

         <xsd:complexType name="LinesDiscoveryType">
            <xsd:sequence>
               <xsd:element name="Request" type="siri:LinesDiscoveryRequestStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="RequestExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:complexType name="LinesDiscoveryAnswerType">
            <xsd:sequence>
               <xsd:element name="LinesDiscoveryAnswerInfo" type="siri:ProducerResponseEndpointStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="Answer" type="siri:LinesDeliveryStructure" minOccurs="1" maxOccurs="1" />
               <xsd:element name="AnswerExtension" type="siri:ExtensionsStructure" minOccurs="1" maxOccurs="1" />
            </xsd:sequence>
         </xsd:complexType>
         <xsd:element name="StopPointsDiscovery" type="StopPointsDiscoveryType" />
         <xsd:element name="StopPointsDiscoveryResponse" type="StopPointsDiscoveryAnswerType" />
         <xsd:element name="LinesDiscovery" type="LinesDiscoveryType" />
         <xsd:element name="LinesDiscoveryResponse" type="LinesDiscoveryAnswerType" />

      </xsd:schema>

   </types>
   <!--General messages -->
   <message name="CheckStatusRequest">
      <part name="parameters" element="siriWS:CheckStatus" />
   </message>
   <message name="CheckStatusAnswer">
      <part name="parameters" element="siriWS:CheckStatusResponse" />
   </message>
   <message name="CheckStatusError">
      <part name="SiriError" element="siri:ErrorConditionElement" />
   </message>
   
 	<message name="SubscriptionRequest">
      <part name="parameters" element="siriWS:Subscribe" />
	</message>
	<message name="SubscriptionAnswer">
      <part name="parameters" element="siriWS:SubscribeResponse" />
	</message>
    <message name="SubscriptionError">
        <part name="SiriError" element="siri:ErrorConditionElement"/>
    </message>
    
	<message name="DeleteSubscriptionRequest">
      <part name="parameters" element="siriWS:DeleteSubscription" />
	</message>
	<message name="DeleteSubscriptionAnswer">
      <part name="parameters" element="siriWS:DeleteSubscriptionResponse" />
	</message>
    <message name="DeleteSubscriptionError">
        <part name="SiriError" element="siri:ErrorConditionElement"/>
    </message>
    
	<message name="DataSupplyRequest">
      <part name="parameters" element="siriWS:DataSuply" />
	</message>
	<message name="DataSupplyAnswer">
      <part name="parameters" element="siriWS:DataSuplyResponse" />
	</message> 
    <message name="DataSupplyError">
        <part name="SiriError" element="siri:ErrorConditionElement"/>
    </message>
    
    <!--SIRI Functional services-->
	<message name="ProductionTimetableRequest">
      <part name="parameters" element="siriWS:GetProductionTimetable" />
	</message>
	<message name="ProductionTimetableAnswer">
      <part name="parameters" element="siriWS:GetProductionTimetableResponse" />
	</message>
    <message name="ProductionTimetableError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="EstimatedTimetableRequest">
      <part name="parameters" element="siriWS:GetEstimatedTimetable" />
	</message>
	<message name="EstimatedTimetableAnswer">
      <part name="parameters" element="siriWS:GetEstimatedTimetableResponse" />
	</message>
    <message name="EstimatedTimetableError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="StopTimetableRequest">
      <part name="parameters" element="siriWS:GetStopTimetable" />
	</message>
	<message name="StopTimetableAnswer">
      <part name="parameters" element="siriWS:GetStopTimetableResponse" />
	</message>
    <message name="StopTimetableError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message> 

	<message name="StopMonitoringRequest">
		<part name="parameters" element="siriWS:GetStopMonitoring"/>
	</message>
	<message name="StopMonitoringMultipleRequest">
		<part name="parameters" element="siriWS:GetMultipleStopMonitoring"/>
	</message>
	<message name="StopMonitoringAnswer">
		<part name="parameters" element="siriWS:GetStopMonitoringResponse"/>
	</message>
    <message name="StopMonitoringError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="VehicleMonitoringRequest">
      <part name="parameters" element="siriWS:GetVehicleMonitoring" />
	</message>
	<message name="VehicleMonitoringAnswer">
      <part name="parameters" element="siriWS:GetVehicleMonitoringResponse" />
	</message>
    <message name="VehicleMonitoringError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="ConnectionTimetableRequest">
      <part name="parameters" element="siriWS:GetConnectionTimetable" />
	</message>
	<message name="ConnectionTimetableAnswer">
      <part name="parameters" element="siriWS:GetConnectionTimetableResponse" />
	</message>
    <message name="ConnectionTimetableError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="ConnectionMonitoringRequest">
      <part name="parameters" element="siriWS:GetConnectionMonitoring" />
	</message>
	<message name="ConnectionMonitoringAnswer">
      <part name="parameters" element="siriWS:GetConnectionMonitoringResponse" />
	</message>
   
    <message name="ConnectionMonitoringError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message> 

	<message name="GeneralMessageRequest">
		<part name="parameters" element="siriWS:GetGeneralMessage"/>
	</message>
	<message name="GeneralMessageAnswer">
		<part name="parameters" element="siriWS:GetGeneralMessageResponse"/>
	</message>
    <message name="GeneralMessageError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
    <message name="FacilityMonitoringRequest">
      <part name="parameters" element="siriWS:GetFacilityMonitoring" />
	</message>
	<message name="FacilityMonitoringAnswer">
      <part name="parameters" element="siriWS:GetFacilityMonitoringResponse" />
	</message>
    <message name="FacilityMonitoringError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="SituationExchangeRequest">
      <part name="parameters" element="siriWS:GetSituationExchange" />
	</message>
	<message name="SituationExchangeAnswer">
      <part name="parameters" element="siriWS:GetSituationExchangeResponse" />
	</message>
    <message name="SituationExchangeError">
        <part name="SiriError" element="siri:ServiceDeliveryErrorCondition"/>
    </message>
    
	<message name="GetCapabilitiesRequest">
      <part name="parameters" element="siriWS:GetCapabilities" />
	</message>
	<message name="GetCapabilitiesAnswer">
      <part name="parameters" element="siriWS:GetCapabilitiesResponse" />
	</message>
    <message name="GetCapabilitiesError">
        <part name="SiriError" element="siri:ErrorConditionElement"/>
    </message> 
    
  <!-- Begin StopPointsDiscovery Messages -->
	<message name="StopPointsDiscoveryRequest">
		<part name="parameters" element="siriWS:StopPointsDiscovery"/>
	</message>
	<message name="StopPointsDiscoveryAnswer">
		<part name="parameters" element="siriWS:StopPointsDiscoveryResponse"/>
	</message>
	<message name="StopPointsDiscoveryError">
		<part name="SiriError" element="siri:ErrorConditionElement"/>
	</message> 
	<!-- End StopPointsDiscovery Messages -->
  <!-- Begin LinesDiscovery Messages -->
	 <message name="LinesDiscoveryRequest">
		<part name="parameters" element="siriWS:LinesDiscovery"/>
	</message>
	<message name="LinesDiscoveryAnswer">
		<part name="parameters" element="siriWS:LinesDiscoveryResponse"/>
	</message>
	<message name="LinesDiscoveryError">
		<part name="SiriError" element="siri:ErrorConditionElement"/>
	</message> 
	<!-- End LinesDiscovery Messages -->

	<portType name="SOAP-Port">
		 <operation name="Subscribe">
			<input message="siriWS:SubscriptionRequest"/>
			<output message="siriWS:SubscriptionAnswer"/>
            <fault name="FaultName" message="siriWS:SubscriptionError"/>
		</operation>
		<operation name="DeleteSubscription">
			<input message="siriWS:DeleteSubscriptionRequest"/>
			<output message="siriWS:DeleteSubscriptionAnswer"/>
            <fault name="FaultName" message="siriWS:DeleteSubscriptionError"/>
		</operation>
		<operation name="DataSupply">
			<input message="siriWS:DataSupplyRequest"/>
			<output message="siriWS:DataSupplyAnswer"/>
            <fault name="FaultName" message="siriWS:DataSupplyError"/>
		</operation>
		<operation name="CheckStatus">
			<!--- <xsd:documentation>
                The CheckStatus operation has an error condition in included in the output message.
                A SOAP FaULT WAS ADDED (FOR ACCESS DENIED ERROR, TRANSPORT ERROR, ETC): THIS ERROR IS NOT IN THE NON SOAP SIRI XSD DEFINITION
            </xsd:documentation> -->
			<input message="siriWS:CheckStatusRequest"/>
			<output message="siriWS:CheckStatusAnswer"/>
            <fault name="FaultName" message="siriWS:CheckStatusError"/>
		</operation>
	  <operation name="GetProductionTimetable">
			<input message="siriWS:ProductionTimetableRequest"/>
			<output message="siriWS:ProductionTimetableAnswer"/>
            <fault name="FaultName" message="siriWS:ProductionTimetableError"/>
		</operation>
		<operation name="GetEstimatedTimetable">
			<input message="siriWS:EstimatedTimetableRequest"/>
			<output message="siriWS:EstimatedTimetableAnswer"/>
            <fault name="FaultName" message="siriWS:EstimatedTimetableError"/>
		</operation>
		<operation name="GetStopTimetable">
			<input message="siriWS:StopTimetableRequest"/>
			<output message="siriWS:StopTimetableAnswer"/>
            <fault name="FaultName" message="siriWS:StopTimetableError"/>
		</operation>
		<operation name="GetStopMonitoring">
			<input message="siriWS:StopMonitoringRequest"/>
			<output message="siriWS:StopMonitoringAnswer"/>
            <fault name="FaultName" message="siriWS:StopMonitoringError"/>
		</operation>
		<operation name="GetMultipleStopMonitoring">
			<input message="siriWS:StopMonitoringMultipleRequest"/>
			<output message="siriWS:StopMonitoringAnswer"/>
            <fault name="FaultName" message="siriWS:StopMonitoringError"/>
		</operation>
		<operation name="GetVehicleMonitoring">
			<input message="siriWS:VehicleMonitoringRequest"/>
			<output message="siriWS:VehicleMonitoringAnswer"/>
            <fault name="FaultName" message="siriWS:VehicleMonitoringError"/>
		</operation>
		<operation name="GetConnectionTimetable">
			<input message="siriWS:ConnectionTimetableRequest"/>
			<output message="siriWS:ConnectionTimetableAnswer"/>
            <fault name="FaultName" message="siriWS:ConnectionTimetableError"/>
		</operation>
		<operation name="GetConnectionMonitoring">
			<input message="siriWS:ConnectionMonitoringRequest"/>
			<output message="siriWS:ConnectionMonitoringAnswer"/>
            <fault name="FaultName" message="siriWS:ConnectionMonitoringError"/>
		</operation>
		<operation name="GetGeneralMessage">
			<input message="siriWS:GeneralMessageRequest"/>
			<output message="siriWS:GeneralMessageAnswer"/>
            <fault name="FaultName" message="siriWS:GeneralMessageError"/>
		</operation>
		<operation name="GetFacilityMonitoring">
			<input message="siriWS:FacilityMonitoringRequest"/>
			<output message="siriWS:FacilityMonitoringAnswer"/>
            <fault name="FaultName" message="siriWS:FacilityMonitoringError"/>
		</operation>
		<operation name="GetSituationExchange">
			<input message="siriWS:SituationExchangeRequest"/>
			<output message="siriWS:SituationExchangeAnswer"/>
            <fault name="FaultName" message="siriWS:SituationExchangeError"/>
		</operation>
		<operation name="GetCapabilities">
			<!-- <xsd:documentation>
                The GetCapabilities operation has no error condition.
                A SOAP FaULT WAS ADDED (FOR ACCESS DENIED ERROR, TRANSPORT ERROR, ETC): THIS ERROR IS NOT IN THE NON SOAP SIRI XSD DEFINITION
      </xsd:documentation> -->
			<input message="siriWS:GetCapabilitiesRequest"/>
			<output message="siriWS:GetCapabilitiesAnswer"/>
            <fault name="FaultName" message="siriWS:GetCapabilitiesError"/>
		</operation>
		<operation name="StopPointsDiscovery">
			<input message="siriWS:StopPointsDiscoveryRequest"/>
			<output message="siriWS:StopPointsDiscoveryAnswer"/>
            <fault name="FaultName" message="siriWS:StopPointsDiscoveryError"/>
		</operation>
		<operation name="LinesDiscovery">
			<input message="siriWS:LinesDiscoveryRequest"/>
			<output message="siriWS:LinesDiscoveryAnswer"/>
            <fault name="FaultName" message="siriWS:LinesDiscoveryError"/>
		</operation> 
	</portType>
	<binding name="SiriSOAPBinding" type="siriWS:SOAP-Port">
		<soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<!-- ====general  services ===== -->
		<operation name="Subscribe">
			<soap:operation soapAction="Subscribe"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="DeleteSubscription">
			<soap:operation soapAction="DeleteSubscription"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="DataSupply">
			<soap:operation soapAction="DataSupply"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="CheckStatus">
			<soap:operation soapAction="CheckStatus"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<!-- ====SIRI services ===== -->
		<operation name="GetProductionTimetable">
			<soap:operation soapAction="GetProductionTimetable"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetEstimatedTimetable">
			<soap:operation soapAction="GetEstimatedTimetable"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetStopTimetable">
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetStopMonitoring">
			<soap:operation soapAction="GetStopMonitoring"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetMultipleStopMonitoring">
			<soap:operation soapAction="GetMultipleStopMonitoring"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetVehicleMonitoring">
			<soap:operation soapAction="GetVehicleMonitoring"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetConnectionTimetable">
			<soap:operation soapAction="GetConnectionTimetable"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetConnectionMonitoring">
			<soap:operation soapAction="GetConnectionMonitoring"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetGeneralMessage">
			<soap:operation soapAction="GetGeneralMessage"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetFacilityMonitoring">
			<soap:operation soapAction="GetFacilityMonitoring"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetSituationExchange">
			<soap:operation soapAction="GetSituationExchange"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="GetCapabilities">
			<soap:operation soapAction="GetCapabilities"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<!-- ====Discovery  services ===== -->
		<operation name="StopPointsDiscovery">
			<soap:operation soapAction="StopPointsDiscovery"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation>
		<operation name="LinesDiscovery">
			<soap:operation soapAction="LinesDiscovery"/>
			<input>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</input>
			<output>
				<soap:body use="literal" namespace="http://wsdl.siri.org.uk"/>
			</output>
            <fault name="FaultName"/>
		</operation> 
	</binding>
	<service name="SiriServices">
		<port name="SiriWSPort" binding="siriWS:SiriSOAPBinding">
			<soap:address location="http://www.siri-service-location.com"/>
		</port>
	</service>
	<xsd:annotation>
		<xsd:appinfo xmlns:gms="http://www.govtalk.gov.uk/CM/gms">
			<Metadata xmlns="http://www.govtalk.gov.uk/CM/gms-xs">
				<Aggregation>main schema</Aggregation>
				<Audience>e-service developers</Audience>
				<Contributor>Nicholas Knowles, KIZOOM LTD., London EC4A 1LT</Contributor>
				<Coverage>Europe</Coverage>
				<Creator>>Drafted for version 1.0, by  Cen TC278 WG3 SG7 Christophe Duquesne DRYADE SA mailto:schemer@siri.org.uk</Creator>
				<Date>
					<Created>2005-03-01</Created>
				</Date>
				<Date>
					<Modified>2005-05-11</Modified>
				</Date>
				<Date>
					<Modified>2007-01-30</Modified>
				</Date>
				<Date>
					<Modified>2008-03-11</Modified>
				</Date>
				<Date>
					<Modified>2007-04-17</Modified>
					<!-- Name Space changes -->
				</Date>
			  <Date>
					<Modified>2008-02-12</Modified>
					<!-- Situation  Exchanges -->
				</Date>
			  <Date>
					<Modified>2011-11-21</Modified>
					<!-- switch from rpc to documment mode -->
					<!-- the two modes give sames XML messages -->
				</Date>
				<Description>
					<p>SIRI is a European CEN standard for the exchange of real time information. This describes WSDL Server binding</p>
				</Description>
				<Format>
					<MediaType>text/xml</MediaType>
					<Syntax>http://www.w3.org/2001/XMLSchema</Syntax>
					<Description>XML schema, W3C Recommendation 2001</Description>
				</Format>
				<Identifier>{http://www.siri.org.uk/schemas/1.3/siri}siri_wsProducer.wsdl</Identifier>
				<Language>[ISO 639-2/B] ENG</Language>
				<Publisher>Kizoom, 109-123 Clifton Street, London EC4A 4LD </Publisher>
				<Rights>Unclassified
                             <Copyright>CEN, VDV, RTIG 2005, 2007</Copyright>
				</Rights>
				<Source>
					<ul>
						<li>SIRI is derived from the VDV, RTIGXML and Trident standards.</li>
					</ul>
				</Source>
				<Status>Version 1.0 Draft for approval</Status>
				<Subject>
					<Category>Arts, recreation and travel, Tourism, Travel (tourism), Transport,
 Air transport, Airports,
 Ports and maritime transport, Ferries (marine),
 Public transport, Bus services, Coach services, Bus stops and stations,
 Rail transport, Railway stations and track, Train services, Underground trains,
 Business and industry, Transport, Air transport , Ports and maritime transport, Public transport,
 Rail transport, Roads and road transport
 </Category>
					<Project>Cen TC278 WG3 SG7</Project>
				</Subject>
				<Title>SIRI XML schema. WSDL Server binding. </Title>
				<Type>Standard</Type>
			</Metadata>
		</xsd:appinfo>
	</xsd:annotation>
	<!-- ======== All the structures are comming from siri.xsd ========= -->
	<!-- ======== Descritions of request parameters (requests and answers) ========= -->
	<!-- ========Service Requests ========= -->
	<!-- ========Production Tiemtable== -->
	<!-- ====Estimated Timetable== -->
	<!-- ====Stop Timetable== -->
	<!-- ====StopMonitoring== -->
	<!-- ====Vehicle Monitoring== -->
	<!-- ====Connection Timetable== -->
	<!-- ====Connection Monitoring== -->
	<!-- ====General Message== -->
	<!-- ====Capabilities management ======= -->
	<!-- ====PORTS ================ -->
	<!-- ====BINDINGS  ================ -->
</definitions>
